/* Dark mode colors. */
:root {
  --sl-color-accent-low: #1e2621;
  --sl-color-accent: #55725f;
  --sl-color-accent-high: #c1ccc5;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f0edea;
  --sl-color-gray-2: #c5c1be;
  --sl-color-gray-3: #928a84;
  --sl-color-gray-4: #5e5751;
  --sl-color-gray-5: #3d3731;
  --sl-color-gray-6: #2c2520;
  --sl-color-black: #1a1815;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d1d9d4;
  --sl-color-accent: #557260;
  --sl-color-accent-high: #29362e;
  --sl-color-white: #1a1815;
  --sl-color-gray-1: #2c2520;
  --sl-color-gray-2: #3d3731;
  --sl-color-gray-3: #5e5751;
  --sl-color-gray-4: #928a84;
  --sl-color-gray-5: #c5c1be;
  --sl-color-gray-6: #f0edea;
  --sl-color-gray-7: #f8f6f4;
  --sl-color-black: #ffffff;
}
